h2 {
    font-family: 'comic sans ms';
    padding-top: 20px;
    font-weight: 800;
    font-size: 35px;
    margin-bottom: 20px;
    color: #22092C;
    width: 100%;
    line-height: 50px;
}

a.tbl-kuning {
    background: #FFA33C;
    border-radius: 20px;
    margin: 20px;
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
}